extends layout
   
block content
   
   div.row
      div.small-9.columns
         h1 Welcome to the ExtremeModeration API
         p Please visit the main site @ 
          a(href="http://extrememoderation.tv") ExtremeModeration.TV
         hr
